*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    margin: 0 5% 0 5%;
}

.search-bar{
    background-color: #eeeeee;
    margin-bottom: 2px;
}

.link-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input.search{
    width: 360px;
}
